@use "../styles/mixins" as m;

.nav {
  background-color: teal;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

@include m.small {
  .nav {
    background-color: #0575e4;
  }
}

.nav>a {
  font-size: 1.2rem;

  &.active {
    color: #ffd000;
  }
}